@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Roboto+Condensed:ital@0;1&family=Space+Mono:wght@700&display=swap');


#title{
    font-family: Inconsolata, monospace;
}

h3
{
   
    font-family: 'Space Mono', monospace;
    text-align: right;

}

h2{
    font-family: 'Space Mono', monospace;
    text-align:  center;
}

h1{
    font-family: 'Space Mono', monospace;
    text-align: center;
}


#imgResize
{
    max-width: 25%;
    height: auto;
}

button{
   
   background-color: black;
   color: white;
   padding: 15px 32px;
   border-radius: 4px;
    
}