@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Roboto+Condensed:ital@0;1&family=Space+Mono:wght@700&display=swap');


body{
    background: white;
}

#title{
    font-family: Inconsolata, monospace;
}

#description
{
   
    font-family: 'Space Mono', monospace;
    text-align: right;
    text-size-adjust: 28px;

}

#bad-news{
    font-family: 'Space Mono', monospace;
    text-align:  center;
    text-size-adjust: 68px;
}

h1{
    font-family: 'Space Mono', monospace;
    text-align: center;
}


#imgResize
{
    max-width: 25%;
    height: auto;
}

button{
   
   background-color: #333333;
   color: white;
   padding: 15px 32px;
   border-style: none;
   
    
}